<h1>Welcome to Rock, Paper, Scissors. please type your coice into the url like so:</h1>
<h1>localhost4567/welcome/choice1/choice2</h1>
<h1>choice 1 represents player 1's choice.</h1>
<h1>choice 2 represents player 2's choice.</h1>
<h1>If you would like to play against the computer, replace choice2 with "computer".</h1>
<h1>Alternatively, use the buttons below.</h1>
<hr/>
<hr/>



<h1>Player 2 select</h1>
<a href="/welcome/computer/rock">Rock</a>
<a href="/welcome/computer/paper">Paper</a>
<a href="/welcome/computer/scissors">Scissors</a>














