<h1>Welcome to Rock, Paper, Scissors.</h1>
<h1>Please select from the buttons below.</h1>

<hr/>
<hr/>



<h1>Player 2 select</h1>
<a href="/welcome/paper/rock">Rock</a>
<a href="/welcome/paper/paper">Paper</a>
<a href="/welcome/paper/scissors">Scissors</a>
<a href="/welcome/paper/computer">Computer</a>














