<h1>Welcome to Rock, Paper, Scissors.</h1>
<h1>Please select from the buttons below.</h1>

<hr/>
<hr/>
<h1>Player 1 Select</h1>
<a href="/welcome/rock">Rock</a>
<a href="/welcome/paper">Paper</a>
<a href="/welcome/scissors">Scissors</a>

<hr/>
<hr/>










